@()

@main("About") {
    <section>
        <h1>About automated question master for "A Fake Artist Goes To New York"</h1>
        <p>
            This is an automated question master for the game <a href="https://oinkgms.com/en/a-fake-artist-goes-to-new-york">A
                Fake Artist Goes To New York</a>, by Oink Games. You will need a copy of the game for this to be useful.
        </p><p>
            The code is freely available under an Open Source licence on <a href="http://github.com/inigo">GitHub</a>.
            The words it uses are based on a list made by "alenros" from the <a href="https://boardgamegeek.com">BoardGameGeek</a> forums,
                and other BGG users.
        </p><p>
            I have no affiliation with Oink Games, and this is not an official app for Fake Artist.
        </p>

    </section>
}


